body
{
    font-family: Helvetica, sans-serif;
    background-color: #CCC;
	padding: 0px;
	margin: 0px;
}

.containerA /*that white box*/
{
	background: #F8F9FA;
	width: 505px;
	height: 450px;
	border-radius: 05px; /*border nung white container lang*/
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
	margin-top: 250px;
}

.paragraphA
{
    background: #74b9ff;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border-radius: 03px; /*border nung title*/
    padding: 15px 0px 15px 0px; /*size ng border ni title*/
    margin-bottom: 50px; /*whitespace after border #55efc4*/
}

.iptA
{
    width: 485px;
    height: 35px;
    border-radius: 03px;
    border: none; /*medyo faded color lang yung txtbox*/
    border: 1px solid #CCC;
    margin-left: 150px; /*that lil margin between them txtboxes*/
    padding-left: 05px; /*space ng elements sa loob ng txtboxes*/
    border-left: 03px solid #00cec9;
    margin-top: 3px;
}

.headerA
{
    margin-right: 2px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.show
{
    margin-left: 10px;
    width: 20px;
    
}

button
{
	background-color: #F8F9FA;
    margin-left: 150px;
	border: 2px solid #008CBA;
    width: 200px;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    transition-duration: 0.3s;
    color: #576574;
}

button:hover
{
    background-color: #54a0ff;
    color: #F8F9FA;
}

/*.inputfile
{
	margin-left: 10px;
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	
	z-index: -1;
}

.inputfile + label
{
    font-size: 1.25em;
    font-weight: 500;
    color: #576574;
    border: 2px solid #008CBA;
    display: inline-block;
}

.inputfile:focus + label, .inputfile + label:hover
{
    color: white;
    background-color: #54a0ff;
    transition-duration: 0.3s;
}

.inputfile + label
{
	cursor: pointer; /* "hand" cursor */
}

*/


input
{
    
    overflow: hidden; 
  
}

input[type="file"]
{ 
    z-index: -1;
    position: absolute;
    opacity: 0;

  
}

input + label
{
    margin-left: 10px;
    border: 2px solid #008CBA;
}

input:focus + label 
{
    outline: 2px solid;
    color: white;
    background-color: #54a0ff;
    transition-duration: 0.3s;

}

input:hover + label 
{
    color: white;
    background-color: #54a0ff;
    transition-duration: 0.3s; 
}

.filename
{
    margin-left: 10px;
    margin-top: 5px;
}







